# swap files
*~
*#
*.sw[op]
._*

# sbt
sbt-launch.jar*
project/boot
project/target
project/plugins/target
project/plugins/project

# OSX
.DS_Store


# Intellij IDEA
*.iws
*.ipr
*.iml
.idea*


# Eclipse & Netbeans
.cache
.project
.settings
.classpath
.scala_dependencies


# ensime
ensime_port
_ensime_port
.ensime*

# binary stuff
build
target
/lib

# 
src/main/resources/props/*

# For SBT compiler
project/boot/
project/build/target/
project/plugins/target/
project/plugins/lib_managed/
project/plugins/src_managed/


